@keyframes dropdown {
  to {
    bottom: 0px;
    opacity: 1;
  }
}

.label {
  display: flex;
  flex-flow: column nowrap;
  font-weight: 500;

  text-transform: capitalize;

  padding-bottom: 20px;

  position: relative;
}

.input {
  border: 1px solid #2d2d2d;
  background-color: #ffffff;
  color: #2d2d2d;

  height: 40px;
  padding-left: 10px;

  transition: 200ms;

  outline: transparent solid 1px;

  text-transform: capitalize;

  &:focus {
    outline: black solid 1px;
  }
}

.error {
  position: absolute;
  opacity: 0;

  bottom: 10px;
  margin-left: 2.5px;

  font-size: 0.75rem;
  font-weight: 600;

  color: #a6123a;

  animation: dropdown 200ms linear forwards;
}
